* {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
}
a:hover {
  color: #259c25;
}

header {
  color: #fff;
  background-color: #259c25;
  height: 98px;
  display: flex;
  align-items: center;
}
header > h1 {
  margin: 0 2%;
  line-height: 1;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu__item {
  color: #f5f5f5;
  display: block;
  padding: 0 7px;
}

.menu__list {
  display: flex;
  padding: 0 0;
  height: 100%;
  width: 100%;
}
.menu__list > li {
  height: 100%;
}
.menu__list > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 25px;
}
.menu__list > li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #011f2680;
}
